*{
    
    
    margin:0px;
    padding: 0px;

}
.top-head{
    color: black;
    font-family: sans-serif  Bold;
    padding-left: 20px;
}

.heading-content
{
   padding-left: 20px;
   padding-top: 10px;
   color:gray;
}



ul,li,a{ 
    font-family: sans-serif;
    
    
    font-size: 15px;
    text-decoration: none;
    list-style: none;
    float: left;
    padding-right:70px;
    justify-content: center;
     
}

.navbar{
    
    
    align-items: center;
    padding: 30px , 10%;

}

#nav{
    
    padding: 0px,20px;
    border: 1px solid black;
    border-radius: 30px;
    align-self: center;
    color: black;
    
}


 #nav:hover{
    background-color: black;
    color: yellow;
    transition: 2sec;
}


#nav:active {
    background-color:red;
    color:white
    
}

.card-body{
    background-color: #04050D;
    
}

.card-title{
    color: white;
    font-size: 24px;
    margin: 20px;
}

.btn{
    background-color:#786969;
    align-self: left;
    margin: 25px;

}

.btn:hover{
    background-color: red;
}